.cart-payment-head{
  margin-left: 70px;
}
.cart-payment {
    text-align: center;
    margin-top: 50px;
    margin-left: 650px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 1000px;
  }
  